/* основной текст #757575; */
/* вторичный текст #212121; */
/* акцент #2196F3; */
/* белый текст шрифта #ffffff */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --white-text-color: #ffffff;
    --background-color: #2F303A;
    --footer-adress-text-color-alfa: rgba(255, 255, 255, 0.6);
    --filter-backfround-color: #F5F4FA;
    --project-filter-focus: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
    font-family: roboto, sans-serif;
   color:  var(--primary-text-color);
   line-height: 1.2;
    letter-spacing: 0.03em;
    font-size: 14px;
}
.logo {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    color: var(--accent-text-color);
        list-style-type: none;
}
.header-links  {
    color: var(--primary-text-color);
    list-style-type: none;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.header-contacts {
    color: var(--primary-text-color);
    list-style-type: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.header-links a:hover,
.header-links a:focus {
    color: var(--accent-text-color);
}
.current-page  {
    color: var(--accent-text-color);
    text-decoration: none;
    list-style-type: none;
}
.title{
    color: var(--title-text-color);
}
.hero {
    background-color: var(--background-color);
    text-align: center;
}
.hero-text {
    color: var(--white-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
.main-link {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}
.button-font {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-category {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
.benefits{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}
.benefits-descr {
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.section-article {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
 .list-content {
    display: flex;
    gap: 30px;
 }
 .portfolio-list-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
 }
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team-spec {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.adress {
    color: var(--white-text-color);
}
.project-filter {
    color: var(--title-text-color);
    background-color: var(--filter-backfround-color);
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.project-filter:hover,
.project-filter:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    box-shadow: var(--project-filter-focus)
}
.project-filter-container {
    list-style-type: none;
    list-style-type: none;
}
.list   {
        text-decoration: none;
        list-style-type: none;
}
.text-decoration {
    text-decoration: none;
    color: var(--title-text-color);
}
.logo-font {
    font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
}
.footer {
    background-color: var(--background-color);
}
.adress-font {
    font-style: normal;
}
.adress-info {
    color: var(--footer-adress-text-color-alfa);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.adress-info:hover,
.adress-info:focus{
 color: var(--accent-text-color);
}
.logo-footer {
    color: var(--white-text-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}